# Root
.vscode/
.DS_Store
*.log

# Node
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

# Env files
**/.env
**/.env.local

# Build and dist
**/build/
**/dist/
**/.next/
**/out/
**/.turbo/

# Coverage
**/coverage/

# OS files
Thumbs.db
ehthumbs.db
Icon?
